* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

// html {
//     scroll-behavior: smooth;
//     scroll-padding-top: 150px;
// }

body {
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Montserrat', sans-serif;

    min-height: 100vh;
    position: relative;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "header header"
        "main main"
        "footer footer"
    ;

    #bg-stars {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        position: fixed;
        top: 0;
        left: 0;
        filter: grayscale(100%);
        z-index: -100;
    }

    .scroll-top-none {
        width: 3rem;
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 99;
        transition: 200ms;

        display: none;

        &:hover {
            transform: scale(1.10);
        }
    }

    .scroll-top {
        display: block;
    }

    strong {
        font-weight: 800;
        color: $second-red;
    }
}

