
footer {
    background-color: $second-red;
    grid-area: footer;

    min-height: 200px;

    ul li a {
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        color: #222;
        letter-spacing: 0.5px;
        transition: all 300ms;

        &:hover {
            color: $first-red;
        }
    }
}